<h1>Hola mundo</h1>
<!--INTERPOLACION-->
<h2>{{unSaludo}}</h2>
<!--DIRECTIVAS-->
<!--Forma uno-->
<h3 class="{{numero > 10 ? 'success' : 'error'}}">{{numero}}</h3>
<!--Forma dos-->
<h3 [ngClass]="numero < 10 ? 'success' : 'error'">{{numero}}</h3>
<!--Forma tres-->
<h3 [ngClass]="{'success': numero == 10, 'error': numero == 20}">{{numero}}</h3>

<section appRoundedBlock [ngStyle]="{'width': '300px', 'height': '500px', 'background': '#333333', 'display': 'flex', 'border-radius': '30px'}">
  <article class="card">

  </article>
</section>

<h5 [ngStyle]="{'font-size': '2rem'}">NgFor</h5>
<ul>
  <li *ngFor=" let alumno of ['Goku', 'Gohan', 'Vegeta']; let i = index">
   <p>{{i}} - {{alumno}}</p>
  </li>
</ul>

<ul *ngFor="let mascotas of ['Minipili', 'Mina', 'Lola', 'Laruna', 'Luli', 'Pedrito']; let i = index">
  <li>
    <p>{{i}} - {{mascotas}}</p>

  </li>
</ul>

<h5 [ngStyle]="{'font-size': '2rem'}">NgIf</h5>

<p>Muestra o oculta elementos dependiendo un boleano</p>

<p *ngIf="isError" class="error"> Ocurrio un Error</p>
<p *ngIf="isError else todoOkTemplate" class="error"> Ocurrio un Error</p>
<ng-template #todoOkTemplate>
  <p class="success">Todo esta ok</p>
</ng-template>

<h5 [ngStyle]="{'font-size': '2rem'}">NgSwitch</h5>

<div [ngSwitch]="status">
  <div *ngSwitchCase="1">Estado 1</div>
  <div *ngSwitchCase="2">Estado 2</div>
  <div *ngSwitchDefault>Estado no valido</div>
</div>

<button (click)="onClick($event)">Click aquí</button>
<p *ngIf="isError else todoOkTemplate" class="error">Ocurrio un Error</p>
<ng-template #todoOkTemplate>
  <p class="success">Todo esta ok</p>
</ng-template>

<input (change)="onInputChange($event)" type="text" name="entrada" id="entrada">
<input (keydown)="onInputKeyboard($event)" type="text" name="entrada" id="entrada">

<!--
ENLAZAMIENTO DE DOBLE VIA
[] => significa que vamos a pasar data del padre a hijo.
() => significa que vamos a escuchar eventos de hijo a padre.
[()] => significa que el padre puede enviar data al hijo y el hijo al padre.
-->

<form >
  <label for="username">Usuario</label>
  <input [(ngModel)]="user.username" type="text" name="username" id="username">
  <label for="password">Contraseña</label>
  <input [(ngModel)]="user.password" type="text" name="password" id="password">
  <button (click)="onSave()" type="button">Ingresar</button>
</form>

<!--
PIPES
-->

<h6>Pipes | Date pipe: {{birthday | date:'dd/MM/YYYY'}}</h6>